<a href="https://colab.research.google.com/github/FirstTeerakarn/ENGCE174/blob/main/LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#List Comprehension
squares = [x**2 for x in range(10)]

#Dictionary comprehension
square_dict ={x: x**2 for x in range(5)}

#set comprehension
even_squares = {x**2 for x in range(10) if x % 2 == 0}

In [ ]:
square = lambda x: x**2
print(square(5)) # output: 25

25

In [ ]:
def fibonacci():
  a, b = 0, 1
  while True:
    yield a
    a, b = b, a + b

fib = fibonacci()
print(next(fib))
print(next(fib))

0
1

In [ ]:
#List initialization
numbers = [1, 2, 3, 4, 5]

#Accesing elements
print("First element:", numbers[0]) #OUTPUT: 1
print("last element:", numbers[-1]) #OUTPUT: 5

#Slicing
print("Sliced elements:", numbers[2:4]) #Output:[3, 4]

#Appending and extending
numbers.append(6)
print("After append:", numbers) #Output: [1, 2, 3, 4, 5, 6]

#Removing element
numbers.remove(3)
print("After removal:", numbers) #Output: [1, 2, 4, 5, 6]

First element: 1
last element: 5
Sliced elements: [3, 4]
After append: [1, 2, 3, 4, 5, 6]
After removal: [1, 2, 4, 5, 6]

In [ ]:
#List comprehension to create a list of squares of even numbers
even_numbers = [x for x in range(10) if x % 2==0 ]
squares = [num**2 for num in even_numbers]
print("squares of even numbers:", squares) # Output: [0, 4, 16, 36, 64]

squares of even numbers: [0, 4, 16, 36, 64]

In [ ]:
names = ["Alice","Bob","Charlie"]
ages = [25, 30, 35]
city = ["New York","Los Angeles","Chicago"]

#Using zip() FOR PARALLEL ITERATION
for name, age, city in zip(names, ages, city):
  print(f"{name} is {age} years old and lives in {city}")

Alice is 25 years old and lives in New York
Bob is 30 years old and lives in Los Angeles
Charlie is 35 years old and lives in Chicago

In [ ]:
#Tuple initialization
coordinates = (3, 5)

#Unpacking tuples
x, y = coordinates
print("x-coordinate:", x) #Output: 3
print("y-coordinate:", y) #Output: 5

#Tuple as keys in dictionary
location = {(3, 5): "Home", (10, 20): "office"}
print("Location at (3, 5):", location[(3, 5)]) #output: Home

x-coordinate: 3
y-coordinate: 5
Location at (3, 5): Home

In [ ]:
from collections import namedtuple

#Define a named tuple
Point = namedtuple('Point',['x', 'y'])

#Create instances of the named tuple
p1 = Point(3, 5)
p2 = Point(-1, 2)

#Access elements by name
print("coordinates of p1:", p1.x, p1.y) #Output: 3 5

coordinates of p1: 3 5

In [ ]:
coordinates = (3, 5)

In [ ]:
#Dictionnary initialization
person = {'name': 'Alice', 'age': 30, 'city': 'New York' }

#Accessing values
print ("Name", person['name']) # Output: Alice

#Updating values
person['age'] = 31
print("Updated age:", person['age']) #Output: 31

#Iterating through keys and values
for key, value in person.items():
  print(f"{key}:{value}")

Name Alice
Updated age: 31
name:Alice
age:31
city:New York

In [ ]:
#Dictionary comprehension to create a dictionary of squares
numbers = [1, 2, 3, 4, 5]
square_dict = {num: num**2 for num in numbers}
print("Dictionary of squares:", square_dict)

Dictionary of squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
person = {'name':'Alice','age':30}

#Using get() method to handle missing keys
city = person.get('city', 'Unknown')
print("City:", city)

City: Unknown

In [ ]:
#Dictionary of lists: Mappingcities to their temperatures
cities = {
    'New York' : [32, 25, 30, 28, 35],
    'Los Angeles' : [75, 68, 72, 70, 80],
    'Chicago' : [20, 18, 22, 25, 15]
}

#Calculate average temperature for each city
averages = {city: sum(temps) / len(temps) for city, temps in cities.items()}
print("Average temperatures:", averages)
# Output: {'New York' : 30.0 'Los Angeles':73.0, 'Chicago':20.0}

Average temperatures: {'New York': 30.0, 'Los Angeles': 73.0, 'Chicago': 20.0}